@CHARSET "UTF-8";

table {
	border-collapse: collapse;
	text-align: center;
}
 
td,th {
	font-size: 10pt;
	height: 35px;
	padding: 5px;
}

th {
	background-color: #BDBDBD;
	color: #000000;
	font-family: Georgia;
}

tr td {
	color: #000000;
	background-color: #F6F6F6;
}

input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}

img {
	border:none;
}
}